@font-face {
    font-family: Vazir;
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir.eot');
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir.woff2') format('woff2'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir.woff') format('woff'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir-Medium.eot');
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Medium.woff2') format('woff2'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Medium.woff') format('woff'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir-Black.eot');
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Black.woff2') format('woff2'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Black.woff') format('woff'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: Vazir;
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir-Bold.eot');
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Bold.woff2') format('woff2'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Bold.woff') format('woff'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir-Light.eot');
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Light.woff2') format('woff2'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Light.woff') format('woff'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir-Thin.eot');
    src: url('https://kamva-assets.ir/fonts/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Thin.woff2') format('woff2'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Thin.woff') format('woff'),
    url('https://kamva-assets.ir/fonts/vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  direction: rtl;
}

html {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Vazir;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
}
